:root {
  --background-color: rgba(26, 47, 0, 0.05);
  --primary-color: #018181;
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Lato", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: 700;
  line-height: 1.2em;
}

h4,
h5,
h6 {
  color: #000000b2;
  font-family: var(--default-font-family);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
}

h1 {
  font-size: 96px;
}

h4 {
  font-size: 24px;
  line-height: 35px;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color);
  line-height: 1.5em;
}

.hero {
  background-color: var(--background-color);
}

.logo {
  max-width: 100px;
  margin-top: 50px;
  margin-left: 50px;
}

.container {
  padding: 150px 50px;
  text-align: left;
  max-width: 1000px;
  display: block;
}

.title {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 30px;
  max-width: 420px;
  margin-left: 50px;
  margin-top: -70px;
}

.btn-branding {
  position: relative;
  z-index: 1;
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 50px;
  margin-top: -30px;
  float: right;
}

.name {
  box-sizing: border-box;
  border: 2px solid #000000;
  padding: 100px 50px;
  z-index: -1;
}

.btn-branding:hover {
  background-color: black;
  color: white;
}

.portfolio {
  margin: 150px;
}

.project-thumbnail {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
