:root {
  --background-color: rgba(26, 47, 0, 0.05);
  --primary-color: #018181;
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Lato", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 10px;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: 700;
  line-height: 1.2em;
}

h4,
h5,
h6 {
  color: #000000b2;
  font-family: var(--default-font-family);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
}

h1 {
  font-size: 96px;
  line-height: 115px;
}

h2 {
  font-size: 64px;
  line-height: 80px;
}

h3 {
  font-size: 48px;
  line-height: 60px;
}

h4 {
  font-size: 24px;
  line-height: 35px;
}

h5 {
  font-size: 16px;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 30px;
}

.hero {
  background-color: var(--background-color);
}

.logo {
  max-width: 100px;
  margin-top: 50px;
  margin-left: 50px;
}

.nameplate {
  padding: 150px 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  background-color: white;
  padding: 30px;
  margin-left: 50px;
  margin-bottom: -40px;
  text-align: left;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 50px;
  margin-top: -30px;
  float: right;
}

.btn-branding:hover {
  background-color: black;
  color: white;
  box-shadow: var(--box-shadow);
}
.name {
  box-sizing: border-box;
  border: 2px solid #000000;
  padding: 100px 50px;
}

.portfolio {
  margin: 150px 100px;
}

.project {
  margin-bottom: 100px;
}

.body-link {
  color: var(--primary-color);
  text-decoration: none;
}

.body-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.body-button {
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 20px;
  padding: 20px 30px;
  border: 1px solid var(--primary-color);
}

.body-button:hover {
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 30px;
  box-shadow: var(--box-shadow);
}

.footer {
  background-color: var(--background-color);
  padding: 100px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.social-icon-group {
  gap: 10px;
}

.social-icon {
  flex-basis: 50px;
}

.footer img {
  max-width: 100%;
  height: auto;
  max-height: 50px;
  border-radius: 50%;
}

.footer img:hover {
  max-width: 100%;
  height: auto;
  max-height: 50px;
  box-shadow: var(--box-shadow);
}

.copyright {
  text-align: center;
}

hr {
  border: 1px solid #000000;
}

@media (max-width: 350px) {
  .nameplate {
    padding: 75px 50px !important;
  }

  .name {
    padding: 50px 50px !important;
  }

  .title {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    max-width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    z-index: 1 !important;
    position: relative !important;
    padding: 20px 10px !important;
  }

  .btn-branding {
    text-align: center !important;
    float: none !important;
    display: flex !important;
    justify-content: center !important;
    max-width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .portfolio {
    margin: 75px 60px !important;
  }

  h1 {
    text-align: center !important;
    font-size: 45px !important;
    line-height: 55px !important;
  }

  h2 {
    font-size: 40px !important;
    line-height: 55px !important;
  }

  h3 {
    font-size: 30px !important;
    line-height: 40px !important;
    text-align: center !important;
  }

  h4 {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .footer {
    padding: 50px !important;
    text-align: center !important;
    display: block !important;
  }
  .social-icon-group {
    justify-content: center !important;
    margin: 20px 0px !important;
  }
}

@media (max-width: 480px) and (min-width: 351px) {
  .nameplate {
    padding: 75px 50px !important;
  }

  .name {
    padding: 50px 50px !important;
  }

  .title {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    max-width: 250px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    z-index: 1 !important;
    position: relative !important;
    padding: 20px 10px !important;
  }

  .btn-branding {
    text-align: center !important;
    float: none !important;
    display: flex !important;
    justify-content: center !important;
    max-width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .portfolio {
    margin: 75px 60px !important;
  }

  h1 {
    text-align: center !important;
    font-size: 55px !important;
    line-height: 65px !important;
  }

  h2 {
    font-size: 40px !important;
    line-height: 55px !important;
  }

  h3 {
    font-size: 30px !important;
    line-height: 40px !important;
    text-align: center !important;
  }

  h4 {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .footer {
    padding: 50px !important;
    text-align: center !important;
    display: block !important;
  }
  .social-icon-group {
    justify-content: center !important;
    margin: 20px 0px !important;
  }
}

@media (max-width: 800px) and (min-width: 481px) {
  h1 {
    font-size: 70px !important;
    line-height: 70px !important;
  }

  h2 {
    font-size: 45px !important;
    line-height: 55px !important;
  }

  h3 {
    font-size: 30px !important;
    line-height: 40px !important;
    text-align: center !important;
  }

  h4 {
    font-size: 16px !important;
    line-height: 30px !important;
  }

  .nameplate {
    padding: 75px 50px !important;
  }

  .name {
    padding: 75px 50px !important;
  }
  .title {
    padding: 20px !important;
    margin-bottom: -30px !important;
  }
  .btn-branding {
    font-size: 16px !important;
  }

  .portfolio {
    margin: 75px 60px !important;
  }

  .footer {
    padding: 50px !important;
    text-align: center !important;
    display: block !important;
  }
  .social-icon-group {
    justify-content: center !important;
    margin: 20px 0px !important;
  }
}
